<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="estiloSectorA.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Better Alliance</p>
            <nav>
                <a href="Home.html">Pagina principal</a>
                <a href="Registro.html">Regístrate</a>
            </nav>
        </div>
    </header>
</body>
</html>
