<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Alliance - Inicio</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/estilos.css') }}">
    <!-- CUSTOM JS -->
    <script src="{{ url_for('static', filename='JS/app.js') }}" defer></script>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="message-box" id="messageBox">{{ message }}</li> 
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <header>
        <header>
            <div class="container">
                <p class="logo">Bienvenido {{ session['username'] if 'username' in session else 'Invitado' }}</p>
                <nav>
                    <a href="{{url_for('logout')}}"class="logout">Log out</a>
                </nav>
            </div>
        </header>
        <section id="hero">
    </header>

    <div class="menu-dashboard">
        <!-- TOP MENU -->
        <div class="top-menu">
            <div class="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <!-- INPUT SEARCH -->
        <div class="input-search">
            <i class='bx bx-search'></i>
            <input type="text" class="input" placeholder="Buscar">
        </div>
        <!-- MENU -->
        <div class="menu">
            <a href="{{ url_for('dashboard') }}">
                <div class="enlace">
                    <i class="bx bx-grid-alt"></i>
                    <span>Home</span>
                </div>
            </a>

            <a href="{{ url_for('SectorS') }}">
                <div class="enlace">
                    <i class="bx bx-grid-alt"></i>
                    <span>Voluntariado Salud</span>
                </div>
            </a>

            <a href="{{ url_for('SectorA') }}">
                <div class="enlace">
                    <i class="bx bx-grid-alt"></i>
                    <span>Voluntariado Ambiental</span>
                </div>
            </a>

            <div class="enlace">
                <i class="bx bx-heart"></i>
                <span>Favoritos</span>
            </div>

            <a href="{{ url_for('tablas') }}">
                <div class="enlace">
                    <i class="bx bx-grid-alt"></i>
                    <span>Tablas</span>
                </div>
            </a>
        </div>
    </div>

    <div class="content">
        <section id="inicio" class="section">
            <h1 class="titulo-grande">Better Alliance</h1>
        </section>

        <section id="vision" class="section">
            <div class="vision-contenido">
                <div class="vision-texto">
                    <h2>Tabla de usuarios</h2>
                    <table class="table table-bordered table-sm table-striped table-hover text-center" border="1">
                        <thead>
                            <tr>
                                <th>username</th>
                                <th>password</th>
                                <th>gmail</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for usuario in tablas %}
                            <tr>
                                <td>{{ usuario[1] }}</td>
                                <td>{{ usuario[2] }}</td>
                                <td>{{ usuario[3] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                            </div>
                            <div class="vision-imagen">

                            </div>
                        </div>
        </section>
    </div>
</body>
</html>
